.vscode/**
.vscode-test/**
src/**
.gitignore
.git/**
tsconfig.json
*.vsix
out/test/**
sample_generate_create.sql
.eslintrc.json
.prettierrc
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.md
node_modules/**/.github/**
